<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sky.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into `user`(name, openid, phone, sex, create_time, id_number, avatar, flavor_profile, flavor_update_time)
            value
            (#{name}, #{openid}, #{phone}, #{sex}, #{createTime}, #{idNumber}, #{avatar}, #{flavorProfile}, #{flavorUpdateTime})
    </insert>

    <select id="getByOpenId" resultType="com.sky.entity.User">
        select id, openid, name, phone, sex, id_number, avatar, create_time, flavor_profile, flavor_update_time
        from `user`
        where openid = #{openid}
    </select>

    <select id="getById" resultType="com.sky.entity.User">
        select id, openid, name, phone, sex, id_number, avatar, create_time, flavor_profile, flavor_update_time
        from `user`
        where id = #{userId}
    </select>

    <update id="update">
        update `user`
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="flavorProfile != null">flavor_profile = #{flavorProfile},</if>
            <if test="flavorUpdateTime != null">flavor_update_time = #{flavorUpdateTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="countUserByDate" resultType="java.lang.Integer">
        select count(id) from `user`
        <where>
            <if test="begintime != null">
                and create_time &gt;= #{begintime}
            </if>
            <if test="endtime != null">
                and create_time &lt;= #{endtime}
            </if>
        </where>
    </select>
</mapper>